extends layout

block content
  table
    tr
      td
        strong Branches
        ul.branches
          for b in branches
            li(class=(b === branch) ? "current" : "")
              a(href="/switch/" + b)= b
          li
            hr
            a(href="" class="fork") #[i.fa.fa-plus] Create branch
      td
        form(method="POST" action="/save")
          if branch !== 'main'
            input(type="button" value="Merge").merge
          h1 #{branch}
          textarea(name="markdown")= page
          div
            .pull-right
              a.history(href="") #[i.fa.fa-clock] History
            button Save
  #diff
    pre!= diff
  #history
    for c in commits
      div
        strong= c.authorName
        | &nbsp;
        span= c.authorDateRel
        span &nbsp;(#{c.abbrevHash})

